.cart {
    background-color: rebeccapurple;
    width: 7rem;
    height: 30rem;
    border-radius: .5rem;
    /*margin: 0 .5rem 0 0 ;*/
    /*position: relative;*/
    transition: 0.5s;
}

.cart__text{
    color: rebeccapurple;
}

.cart-active{
    width: 35rem;
}