.projects {
    width: 70rem;
    /*background-color: #001823;*/
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 3rem;
}

.projects__title{
    display: flex;
    align-items: center;
    gap: .6rem;
}

.projects__title h2{
    font-size: 2rem;
    font-weight: bold;
}

.projects__bar{
    width: 1.8rem;
    height: .7rem;
    background-color: #00C2FF;
    align-self: end;
    border-radius: .5rem;
    margin: 0 0 12px 0;
}

.projects-border{
    border-radius: .5rem;
}

.projects__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}