.intro{
    width: 80rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 6rem;
    gap: 4rem;
}

.testInfos{
    width: 140%;
}

.testInfos-title {
    font-size: 3.5rem;
}

.testInfos-sub-title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.testInfo-Button{
    height: 3rem;
    width: 10rem;
    border: 1px solid #00C2FF;
    margin-top: 3rem;
    transition: background-color 0.4s ease-in-out;
    border-radius: 0.5rem;
}

.testInfo-Button:hover{
    background-color: rgba(0, 194, 255, 0.3)
}

.SvgWrapper{
    width: 100%;
    height: 25rem; /* Give it a fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Important for positioning the orb */
    /*border: solid 5px #00C2FF;*/
}

.renderSvg img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}