/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');*/

.about {
    width: 70rem;
    /*background-color: #001823;*/
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
}

.about__title{
    display: flex;
    align-items: center;
    gap: .6rem;
}

.about__title h2{
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
    /*font-family: Open Sans', sans-serif;*/
}

.about__bar{
    width: 1.8rem;
    height: .7rem;
    background-color: #00C2FF;
    border-radius: .5rem;
    margin: 0 0 5px 0;
}

.about__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.about__image {
    width: 30rem;
    height: 25rem;
    background-color: grey;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}

.about__img {
    object-fit: cover;
}


.about__text{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.about__text ul{
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
}
.about__text ul li{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5rem;
}


.about-border{
    border-radius: .8rem;
}