.about {
    width: 70rem;
    height: 30rem;
    background-color: #001823;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.about-border{
    border-radius: .5rem;
}