.navbar{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
    position: sticky;
    top: 0;
    background-color: #0a0a0a;
    z-index: 1000;
}

.navbar-test{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-test ul{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-test ul li{
    cursor: pointer;
    transition: 0.7s;
    position: relative;
}

.navbar-test ul li::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--color-secondary);
    transition: width 0.3s ease;
}

.navbar-test ul li:hover::before{
    width: 100%;
}

.navbar-test ul li:hover{
    color: var(--color-secondary);
}

.navbar-icons{
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon{
    font-size: 1.5rem;
    transition: 0.7s;
}

.icon:hover{
    color: var(--color-secondary);
}