.background {
    width: 70rem;
    height: 30rem;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.background-border{
    border-radius: .5rem;
}