.background {
    /*background-color: #001823;*/
    width: 70rem;
    padding: 0 3rem;
}

.background__title{
    display: flex;
    align-items: center;
    gap: .6rem;
}

.background__title h2{
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
    /*font-family: Open Sans', sans-serif;*/
}

.background__bar{
    width: 1.8rem;
    height: .7rem;
    background-color: #00C2FF;
    border-radius: .5rem;
    margin: 0 0 5px 0;
}

.background__contents{
    padding: 1rem 0 0 5rem;
}

.background-border{
    border-radius: .5rem;
}